## 用来指向公司内网的npm包地址
## registry=http://ued.zuoyebang.cc/npm/

# 设置代理服务器
# proxy=http://proxy.example.com:8080
# https-proxy=http://proxy.example.com:8080

# 设置包的缓存路径
# cache=/path/to/npm-cache

# 设置全局安装包的路径
# prefix=/path/to/npm-global