<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% var {title, metaList, preloadLinks, prefetchLinks, cdnLinks, dllPaths} = htmlWebpackPlugin.options %>

    <title><%= title %></title>


    <% for (var item of metaList) { %>
    <link <% for (key in item) { %> <%= key %>="<%= item[key] %>" <% } %> />
    <% } %>


    <% for (var dllPath of dllPaths) { %>
        <script defer src="<%= dllPath %>"></script>
    <% } %>

</head>
<body>
    <!-- 容器节点 -->
    <div id="root"></div>
</body>
</html>